@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/* 초기화 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
<<<<<<< HEAD

=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  background: black;
<<<<<<< HEAD
  /* background: #181818 linear-gradient(rgb(107, 105, 105), rgb(53, 52, 52), rgb(192, 188, 188)) repeat 0 0 fixed; */
  /* background: #333; */
=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
}

/* 헤더 */
.header,
.main-content {
  box-sizing: border-box;
<<<<<<< HEAD
  /* background-color: #fff; */
  background-image: url(../img/bg-blur.jpg);
  background-size: 100% 100%;
  /* position: relative; */
  /* padding: 0 30px 50px 30px; */
  padding: 30px;
=======
  background-image: url(../img/bg-blur.jpg);
  background-size: 100% 100%;
  padding: 0 30px 50px 30px;
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  border-radius: 15px 15px 15px 15px;
  margin: 0 auto;
  width: 940px;
}

.main-content {
  position: relative;
  margin-top: 20px;
}

.heading {
  margin: 20px auto;
  padding-top: 10px;
  text-align: center;
<<<<<<< HEAD
  /* color: whitesmoke; */
  caption-side: bottom;
  color: whitesmoke;
=======
  caption-side: bottom;
  color: whitesmoke;
}
.header > h1 {
  color: whitesmoke;
  text-shadow:
    0 0 10px rgb(243, 8, 8),
    0 0 20px rgb(243, 8, 8),
    0 0 40px rgb(243, 8, 8),
    0 0 80px rgb(243, 8, 8),
    0 0 90px rgb(243, 8, 8),
    0 0 100px rgb(243, 8, 8),
    0 0 150px rgb(243, 8, 8);
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
}

.header>h1 {
  color: whitesmoke;
  text-shadow:
    0 0 10px rgb(243, 8, 8),
    0 0 20px rgb(243, 8, 8),
    0 0 40px rgb(243, 8, 8),
    0 0 80px rgb(243, 8, 8),
    0 0 90px rgb(243, 8, 8),
    0 0 100px rgb(243, 8, 8),
    0 0 150px rgb(243, 8, 8);
}

.title {
<<<<<<< HEAD
  /* color: rgb(197, 34, 22); */
=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  font-style: italic;
  /* text-shadow: 5px 5px black; */
}

.description {
  /* background-color: rgb(252, 252, 82); */
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px rgb(255, 245, 233), 0 0 1em black, 0 0 0.2em black;
  padding: 20px;
  line-height: 25px;
  color: whitesmoke;
  margin: 0 auto;
  width: 85%;
}

.hall-of-fame {
  text-align: center;
  width: 700px;
<<<<<<< HEAD
  /* margin: 0 auto; */
  padding-bottom: 20px;
  /* background-color: lightgray; */
  padding-top: 8px;
  margin: 0 auto 20px auto;
  /* background: #446bb3; */
  /* opacity: 0.8; */
  border-radius: 15px;
}

.hall-of-fame>h2 {
  color: whitesmoke;
  text-shadow: 0 0 5px gold,
    0 0 10px gold,
    0 0 20px gold,
    0 0 40px gold,
    0 0 80px gold,
    0 0 90px gold,
    0 0 100px gold,
    0 0 150px gold;
=======
  padding-bottom: 20px;
  padding-top: 8px;
  margin: 0 auto 20px auto;
  border-radius: 15px;
}
.hall-of-fame > h2 {
  color: whitesmoke;
  text-shadow: 0 0 5px gold,
  0 0 10px gold,
  0 0 20px gold,
  0 0 40px gold,
  0 0 80px gold,
  0 0 90px gold,
  0 0 100px gold,
  0 0 150px gold;
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
}

.ranking {
  margin: auto;
<<<<<<< HEAD
  /* background-color : #fff; */
  /* color : #453 */
  color: whitesmoke;
  text-shadow: 0 0 5px gold,
    0 0 10px gold,
    0 0 20px gold,
    0 0 40px gold,
    0 0 80px gold,
    0 0 90px gold,
    0 0 100px gold,
    0 0 150px gold;
=======
  color: whitesmoke;
  text-shadow: 0 0 5px gold,
  0 0 10px gold,
  0 0 20px gold,
  0 0 40px gold,
  0 0 80px gold,
  0 0 90px gold,
  0 0 100px gold,
  0 0 150px gold;
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  background: #181818;
  opacity: 0.9;
  border-radius: 1.2rem;
}
<<<<<<< HEAD

.row th,
.row td {
  /* background: lightyellow; */
=======
.row th,
.row td {
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  width: 200px;
  padding: 10px 0 10px 0;
}

/* 메인 컨텐츠 */
.score-board {
  border: 1px solid black;
  position: fixed;
  right: 0;
  z-index: 1;
  /* background: lightyellow; */
  text-align: center;
  top: 30rem;
  background: black;
  border-radius: 0.6rem;
}
<<<<<<< HEAD

=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
.score-board .row th,
.score-board .row td {
  width: 75px;
  padding: 0 0 5px 0;
<<<<<<< HEAD
  /* border: 1px solid black; */
  color: white;
  text-shadow: 0 0 5px rgb(22, 194, 36),
    0 0 10px rgb(22, 194, 36),
    0 0 20px rgb(22, 194, 36),
    0 0 40px rgb(22, 194, 36),
    0 0 80px rgb(22, 194, 36),
    0 0 90px rgb(22, 194, 36),
    0 0 100px rgb(22, 194, 36),
    0 0 150px rgb(22, 194, 36);
=======
  color: white;
  text-shadow: 0 0 5px rgb(22, 194, 36),
  0 0 10px rgb(22, 194, 36),
  0 0 20px rgb(22, 194, 36),
  0 0 40px rgb(22, 194, 36),
  0 0 80px rgb(22, 194, 36),
  0 0 90px rgb(22, 194, 36),
  0 0 100px rgb(22, 194, 36),
  0 0 150px rgb(22, 194, 36);
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
}

.list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.list>li {
  position: relative;
  flex-basis: 20%;
  height: 250px;
}

.choice-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  font-weight: bold;
}

.choice {
  text-align: center;
  flex-basis: 22%;
  height: 5rem;
  position: relative;
}

.choice label {
  background: whitesmoke;
  color: #181818;
  border-radius: 5px;
  display: block;
  height: 100%;
  line-height: 4.7rem;
  cursor: pointer;
<<<<<<< HEAD
  /* background: rgba(30, 22, 54, 0.7); */
}

.list input[type="radio"],
.choice input[type="radio"] {
=======
}
.list input[type="radio"],
.choice input[type="radio"]{
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px;
}

.list input[type="radio"]:checked+label,
.choice input[type="radio"]:checked+label {
<<<<<<< HEAD
  /* border: 1.2px solid rgb(236, 83, 83); */
  /* border: 1.4px solid rgb(10, 2, 2); */
  border: 1.4px solid #333;
  box-shadow: 3px 3px 6px rgb(221, 213, 213);
  color: rgb(236, 67, 67);
  /* box-shadow: 1px 1px 5px red; */

}

/* input checked시, class="active" 추가 */
=======
  border: 1.4px solid #333;
  box-shadow: 3px 3px 6px rgb(221, 213, 213);
  color: rgb(236, 67, 67);
}
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
.active {
  transform: rotateY(360deg);
}

.list label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 115px;
  box-shadow: 3px 3px 6px #333;
<<<<<<< HEAD
  /* border: 1.4px solid rgb(154, 160, 161); */
  border-radius: 8px;
  transition: transform 1s;
  backface-visibility: hidden;
  /* background: whitesmoke; */
  background-size: 99% 99%;
  font-weight: 900;
}

=======
  border-radius: 8px;
  transition: transform 1s;
  backface-visibility: hidden;
  background-size: 99% 99%;
  font-weight: 900;
}
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
.category-list label {
  background-image: url(../img/vGm4U3r1.jpg);
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
<<<<<<< HEAD

=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
.score-list label {
  background-image: url(../img/vGm4U3r2.jpg);
  text-shadow: 1px 1px 2px rgb(231, 108, 6), 0 0 1em rgb(155, 5, 224), 0 0 0.2em rgb(155, 5, 224);
  font-size: 40px;
  color: #fff;
<<<<<<< HEAD
  /* text-shadow: 1px 0 10px #333; */
=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
}

.score-list {
  padding-bottom: 20px;
}

.btn-group {
  text-align: center;
  padding-top: 20px;
}
.quiz-start,
.quiz-restart {
  display: block;
  margin: 40px auto;
  line-height: 50px;
  width: 180px;
  height: 50px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  text-shadow: 1px 1px 6px #333;
  font-weight: 500;
  color: whitesmoke;
  background-color: black;
}
<<<<<<< HEAD

.quiz-start,
.quiz-restart {
  display: block;
  margin: 40px auto;
  line-height: 50px;
  width: 180px;
  height: 50px;
  /* background: #2D7551; */
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  text-shadow: 1px 1px 6px #333;
  font-weight: 500;
  color: whitesmoke;
  background-color: black;
}

.quiz-start:hover {
  color: #f44336;
=======
.quiz-start:hover,
.quiz-restart:hover {
  color: #f44336;
  background: #fff;
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
}

.quiz-restart:hover {
  color: #f44336;
}

.select-error {
  color: red;
  font-weight: bold;
}

.score-error {
  text-align: center;
  color: red;
  font-weight: bold;
}

/* 퀴즈 출제 영역 */
.quiz-prompt {
<<<<<<< HEAD
  /* display: none; */
=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  margin-top: 20px;
  position: relative;
  border: 1px solid rgb(37, 42, 43);
  border-radius: 8px;
  color: whitesmoke;
  background: #181818;
<<<<<<< HEAD
  /* text-align: center; */
=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
}

.quiz {
  padding: 20px;
}

.quiz-heading {
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 0;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.5em blue;
}

.quiz-description {
  padding: 1rem 3rem 1rem 3rem;
  text-align: left;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 3rem;
}
<<<<<<< HEAD

.quiz-wrapper>h4 {
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 0 2rem;
}

/* code {
=======
.quiz-wrapper > h4 {
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 0 2rem;
}
.timer {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  font-size: 2rem;
  color: #f44336;
  text-align: center;
  line-height: 3rem;
  padding-top: 2.2rem;
}

.submit {
  display: block;
  border: none;
  border-radius: 0.5rem;
<<<<<<< HEAD
  /* background-color: rgb(193, 18, 209); */
  background-color: rgb(90, 88, 88);
  color: white;
  /* opacity: 0.8; */
=======
  background-color: rgb(90, 88, 88);
  color: white;
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  margin: 0 auto 20px auto;
  width: 100px;
  height: 50px;
}
<<<<<<< HEAD

=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
.submit:hover {
  cursor: pointer;
  color: #181818;
}
<<<<<<< HEAD

/* 팝업 */
.popup {
  /* display: none; */
=======
/* 팝업 */
.popup {
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  background: black;
  box-shadow: 1px 1px 4px rgb(221, 213, 213);
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  width: 300px;
  height: 170px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
<<<<<<< HEAD
  /* border: 2px solid rgb(37, 42, 43); */
  /* border: 2px solid #9AD3DE; */
=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  border-radius: 8px;
}

.popup>p {
  line-height: 25px;
  color: whitesmoke;
}

.popup>span {
  display: inline-block;
}
<<<<<<< HEAD

.popup>div>button {
=======
.popup > div > button {
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  background: whitesmoke;
  color: #181818;
  border: 0;
  border-radius: 4px;
  padding: 5px 10px;
<<<<<<< HEAD
  /* color: #FFFFFF; */
=======
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  cursor: pointer;
  outline: none;
  margin-left: 1.2rem;
}
<<<<<<< HEAD

.popup>div>button:hover {
=======
.popup > div > button:hover {
>>>>>>> e3019fda85920a54705462c9ce5f5bd3e3f1fa6a
  background: #181818;
  color: whitesmoke;
}

.disable {
  pointer-events: none;
}

.hide {
  display: none;
}